@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
body {
  font-family: Libre Caslon Text;
  background-color: white;
}

.all{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(90, 90, 88),rgb(182, 180, 180),rgb(32, 3, 138));
    padding-top: 50px;
    
}
section{
  background-image: url(https://s.yimg.com/ny/api/res/1.2/Lnc7Z3RxQRDUzFAyYh.v6w--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD05MDA-/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_SILICONALLEY_H_LIVE/This_Singapore_apartment_complex_was-1c8ab400bde841cac6cb6e7aaf380eb5);
  height: 600px;
}

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.menu-container{
    background-color: rgb(54, 52, 52);
    height: 130px;
}

.icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.icon img{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    float: left;

}

.icon{
  background-color:;
  height: 130px;
}

.brand h1{
  padding-right: 130px;
  height: 13px;
  font-family:'Amarante';
  font-size: 40px;
  color: #bef6fa;
  padding-bottom: 5px;
}


.icon span {
  height: 5px;
  width: 40px;
  background-color: rgb(250, 250, 250);
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  z-index: 1;

}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #000000;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 100%;
  transition: 0.6s ease-in-out;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
      
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: -10px;
}


.menu-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}


.menu-links li:hover a {
  color: #fcfbfb;
  padding-bottom: 5px;
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color: #FFAB91;
}


.menu-links li:first-child:hover #info {
opacity: 1;
}

.menu-links li:first-child a {
  padding: 5px;
}

input.checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

.brand{
    float: right;
    padding-left: 170px;
    margin-right: 210px;
    
   
}

*{
    margin: 0;
    padding: 0;
}

/*logout Button*/

.container1 {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  background-color: rgb(43, 41, 41);
  margin-left: 1085px;
  margin-top: 45px;
  border-radius: 10px;
  z-index: 2;
  
}

.button {
  position: relative;
  padding: 16px 10px;
  font-size: 0.7rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  width: 98px;
  height: 10px;
  border-radius: 10px;
  
}


.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 25px;
  height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 4px;
  height: 25px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.button:hover span:nth-child(2) {
  top: 50%;
}

.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.button:hover span:nth-child(4 ) {
  bottom: 50%;
}

/*Dash Board*/

.brand1 h1{
    padding-left: 50px;
    height: 13px;
    font-family:'Amarante';
    font-size: 40px;
    color: #3f3e3e;
    padding-top: 40px;
  }

  .rectangle{
    margin-top: 80px;
    margin-left: 75px;
  }

  .but{
    height: 180px;
    width: 340px;
    background-image: linear-gradient(to bottom right, blue,rgb(255, 255, 255));
    border-radius: 15px;
    
  }
